@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  /*dark blue*/
  background-color: #071369;
  color: #FFd6FF;
  font-family: 'Press Start 2P', cursive;
  padding-top: 50px;
  text-align: center;
}

header{
  color: #FFd6FF;
  text-align: center;
}

.button{
 background-color: #ddadff;
 border: none;
 color: white;
 padding: 10px 20px;
 text-align: center;
 text-decoration: none;
 font-family: 'Press Start 2P', cursive;
 display: inline-block;
 font-size: 16px;
 margin: 4px 2px;
 transition-duration: 0.3s;
 cursor: pointer;
}

.indexButton{
  background-color: #ddadff;
  color: white;
}

.indexButton:hover{
  background-color: #ab12e2;
  color: white;
}

/*changes to dark mode*/
.lightModeButton{
  background-color: #ddadff;
  color: white;
}

.lightModeButton:hover {
  background-color: #373fc4;
  color: white;
}

.darkButton{
  background-color: #373fc4;
  color: white;
}

.darkButton:hover {
  background-color: #4b08af;
  color: white;
}

/*changes to light mode*/
.darkModeButton{
  background-color: #373fc4;
  color: white;
}

.darkModeButton:hover {
  background-color: #ddadff;
  color: white;
}
