body {
  /*dark blue*/
  background-color: #071369;
  color: #FFd6FF;
  font-family:'Raleway', sans-serif;
  padding-top: 70px;
  text-align: center;
}

/* unvisited link */
a:link {
  color: white;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: white;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  /*light pink*/
  color: #FFD6FF;
  text-decoration: none;
}

/* selected link */
a:active {
  /*light blue*/
  color: #99B9FF;
  text-decoration: none;
}
